

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* GRID/SEQUENCER */

table {
  border: 1px solid black;
  width: 80vh;
  height: 80vh;
  border-spacing: 2px;
  border-collapse: separate;
  margin-bottom: 10px
}

td {
  background-color: black;
  border: 2px solid black
}

#grid, #sequencer {
  width: 80vh;
}

td.alive {
  background-color: rgb(0, 255, 0)
}

td.active {
  border: 2px solid red
}

#main {
  display: flex;
  justify-content: space-around;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

html {
  background: rgb(148, 148, 148)
}

.jam {
  color: white;
  font-size: 50px;
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 2px 2px 1px black, 3px 3px 3px rgb(0, 255, 0)
}

.link {
  color: white;
  font-size: 30px;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center
}

.highlight {
  color: rgb(0, 255, 0)
}
